NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_MAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
NEXT_PUBLIC_MAP_ATTRIBUTION=&copy; OpenStreetMap contributors
NEXT_PUBLIC_DEFAULT_MAP_CENTER_LAT=
NEXT_PUBLIC_DEFAULT_MAP_CENTER_LNG=
NEXT_PUBLIC_DEFAULT_MAP_ZOOM=
NEXT_PUBLIC_OSRM_URL=

DEMO_ADMIN_EMAIL=
DEMO_ADMIN_PASSWORD=
DEMO_RESPONDER_EMAIL=
DEMO_RESPONDER_PASSWORD=